<nav>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/beers'>Beers</a></li>
        <li><a href='/randombeers'>BeersRandom</a></li>
    </ul>
</nav>

<section>
    <img src='/images/beer.png' alt='beer picture'>
    <button><a href='/beers'>Check the Beers!</a></button>
    <button><a href='/randombeers'>Check a random Beer!</a></button>
</section>